/**
* @name styles.css
* @author Aélion - Déc.2019
* @version 1.0.0
**/

body { /** selector **/
    background-color: rgb(173, 169, 169)
}

header {
    color: rgb(15, 13, 109);
}
thead {
    color: darkblue;
    background-color: rgb(134, 131, 131);
}

tfoot{
    background-color: rgb(134, 131, 131);
}
tbody{
    background-color: rgb(187, 183, 178);
}
#receipe-results table.table thead th {
    border-bottom: none;
}
#receipe-results table.table tfoot td[colspan="3"] {
    text-align: right;
}
#receipe-results table.table tfoot td.total-receipe {
    font-weight: bold;
}
#receipe-results table.table tfoot td.total-piece {
    font-weight: bold;
}

form fieldset {
    padding-bottom: 1em;
}

form.hidden-form {
    display: none;
}

form fieldset legend span {
    color: rgb(15, 13, 109);
}

#ingredient-form .input-group
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

